:root {
  --white: #ffffff;
  --text-desc: #8b8b8b;
  --selection: #8400ff9f;
  --primary-color: #5c14e1;
  --secondary-color: #ff322f;
  --dark-grey: #3f3f3f;
  --light-grey: #616161;
  --grey: #a0a0a0;
  --purple-background: #140d21;
  --background-color: #000000;
  --background-2: #111111;
  --background-3: #292929;
}
* {
  list-style: none;
  text-decoration: none;
  margin: 0;
}
body {
  background-color: var(--background-color);
  background-image: linear-gradient(#111111 2px, transparent 2px),
    linear-gradient(90deg, #111111 2px, transparent 2px),
    linear-gradient(#111111 0.1px, transparent 2px),
    linear-gradient(90deg, #111111 0.1px, transparent 2px);
  background-size: 80px 80px, 80px 80px, 20px 20px, 20px 20px;
  background-position: -200px -200px, -200px -200px, -100px -100px,
    -100px -100px;
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background: #222222;
}
body::-webkit-scrollbar-thumb {
  background-color: #3d3d3d;
}
::selection {
  background-color: var(--selection);
}

/* ---------------------------------------------------------------- */
/* NAVBAR */

nav {
  font-family: "Inter";
  font-weight: 600;
}
.navlinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 10px 0 10px;
  border-radius: 20px;
  padding: 1em;
  background-color: var(--background-2);
}
.navlinks a {
  font-size: 1.125em;
  color: var(--white);
}
.navlinks a:hover {
  color: var(--primary-color);
  transition: 0.1s;
}
.logo img {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 150px;
}
.sublist {
  display: flex;
  gap: 1.5em;
  align-items: center;
  max-height: 30px;
}
/* Styles pour la barre de recherche */
.search-form {
  display: flex;
  align-items: center;
}

.search-form input[type="text"] {
  color: white;
  padding: 8px;
  border: none;
  border-radius: 14px;
  outline: none;
  font-size: 16px;
  width: 250px;
  text-align: center;
  background-color: #292929;
}

.hButton {
  display: none;
  cursor: pointer;
  height: 30px;
  width: 30px;
}
.hButton svg,
.hButtonClose svg {
  width: 100%;
  height: 100%;
}
.hButtonClose {
  display: none;
  cursor: pointer;
  height: 30px;
  width: 30px;
}
.searchButton {
  display: none;
}
.exit-area {
  display: none;
}
/* Summary */

.container-wrapper {
  display: flex;
  height: calc(100vh - 72px);
}

.summary {
  font-family: "Inter";
  color: white;
  background-color: var(--background-2);

  min-width: 14em;
  border-radius: 20px;

  padding: 20px;
  margin: 10px 0 10px 10px;

  user-select: none;
}
.summary h1 {
  font-size: 18px;
}
.folders {
  padding-right: 10px;
  height: calc(100% - 100px);
  overflow-y: auto;
  white-space: nowrap;
  margin-top: 1em;
}
.folders::-webkit-scrollbar {
  width: 10px;
}
.folders::-webkit-scrollbar-track {
  border-radius: 20px;
  background: #222222;
}
.folders::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #3d3d3d;
}
.titleFolder {
  display: flex;
  align-items: center;
  margin: 6px 0 6px 0;
  padding: 8px 10px 8px 10px;

  border-radius: 10px;
}
.titleFolder:hover {
  background-color: var(--background-3);
}
.arrowSvg {
  display: flex;
  margin-left: auto;
  width: 15px;
  transition: all 0.2s;
}
.subFolder {
  display: none;

  padding-left: 1em;
  margin: 4px 0 4px 10px;
  row-gap: 6px;

  border-left: solid 2px var(--background-3);
  flex-direction: column;
  color: var(--primary-color);
}
.subFolder div {
  color: var(--white);
  padding: 8px 0 8px 10px;
  border-radius: 10px;
}
.subFolder div:hover {
  background-color: var(--background-3);
}
.subFolderActive {
  background-color: var(--background-3);
}
/* Active Class */
.folderFocus {
  color: var(--primary-color);
  background-color: var(--purple-background);
}
.folderFocus .arrowSvg path {
  stroke: var(--primary-color);
}
.folder.active .arrowSvg {
  transform: rotate(90deg);
  transition: all 0.2s;
}
.titleActive {
  background-color: var(--purple-background);
  color: var(--primary-color);
}
.titleActive .arrowSvg path {
  stroke: var(--primary-color);
}
.titleActive:hover {
  background-color: var(--purple-background);
}
.downloadBtn button {
  color: var(--primary-color);
  font-size: 1.2em;
  font-weight: 700;
  line-height: normal;

  margin: 10px 0;
  padding: 1em;
  border: none;

  width: 100%;
  border-radius: 20px;
  box-shadow: 0px 0px 18px 0px #140d21, 0px 0px 18px 2px #140d21 inset;
  background-color: var(--purple-background);
}

/* Scroll bar */
.folders::-webkit-scrollbar {
  width: 10px;
}
.folders::-webkit-scrollbar-track {
  border-radius: 20px;
  background: #222222;
}
.folders::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #3d3d3d;
}
.markdown-content::-webkit-scrollbar {
  width: 10px;
}
.markdown-content::-webkit-scrollbar-track {
  border-radius: 20px;
  background: #222222;
}
.markdown-content::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #3d3d3d;
}
/* ---------------------------------------------------------- */
/* MarkDown */
/* ---------------------------------------------------------- */

.contents {
  margin: 10px;
  background-color: var(--background-2);
  border-radius: 20px;
  width: 100%;
}
.markdown-content {
  font-family: "Inter";

  overflow-y: auto;
  color: white;

  margin: 1em auto 1em auto;
  padding-right: 1em;

  max-width: 50%;
  max-height: calc(100% - 2em);

  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

hr {
  border: 1px solid var(--background-3);
  margin: 10px 0;
}
blockquote {
  border-left: 4px solid var(--primary-color);
  padding: 5px 5px 5px 10px;
}
details {
  color: white;
  border-radius: 20px;
  padding: 1em;
  border: solid 2px var(--background-3);
}
summary {
  display: flex;
  color: var(--primary-color);
  width: 100%;
  user-select: none;
}
.arrowSvgSummary {
  transition: all 0.2s;
}
.svgCnt {
  display: flex;
  align-self: center;
  margin-left: auto;
  padding-left: 1em;
}
details > :not(summary) {
  margin-top: 1em;
}
.markdown-content h1 {
  font-size: 1.9em;
  font-weight: 600;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
th,
td {
  padding: 0.2em;
  border: solid 1px var(--background-3);
}
thead tr,
th {
  background-color: #1d1d1d;
}
color-p {
  color: var(--primary-color);
}
.markdown-content img {
  width: 100%;
  border-radius: 20px;
}
code {
  display: block;
  width: auto;
  padding: 1em;
  border-radius: 10px;
  background-color: var(--background-3);
}
.markdown-content ul:not(ul ul) {
  padding: 0;
}
.markdown-content li {
  list-style: inside;
  padding: unset;
}
.markdown-content li::marker {
  color: #474747;
}
.markdown-content ul ul {
  border-left: solid 1px var(--background-3);
  margin: 0;
}
.markdown-content a {
  color: var(--primary-color);
  width: fit-content;
  font-weight: bold;
  display: inline-block;
}
.markdown-content a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: var(--primary-color);
  transition: width 0.3s;
}
.markdown-content a:hover::after {
  width: 100%;
}
/* ---------------------------------------------------------- */
/* Responsive */
/* ---------------------------------------------------------- */
@media screen and (max-width: 1100px) {
  .markdown-content {
    max-width: unset;
    width: 80%;
  }
}
@media screen and (max-width: 780px) {
  .summary {
    display: none;
  }
  .sublist > *:nth-child(-n + 4) {
    display: none;
  }
  .hButton {
    display: block;
  }
  .searchButton {
    display: block;
  }
  .hButton path {
    fill: white;
  }
}
